

    <div class="side-bar-st-1">
        
        <div class="twm-candidate-profile-pic">
            
            <img src="{{EntrepriseId.logo}}">

        <div class="twm-mid-content text-center">
            <a href="candidate-detail.html" class="twm-job-title">
                <h4>{{EntrepriseId.nom}}</h4>
            </a>
            <p>{{EntrepriseId.telephone}}</p>
        </div>
       
        <div class="twm-nav-list-1">
            <ul>
                
                <li><a href="profilup/{{EntrepriseId.id}}" type="submit"><i class="fa fa-user-cog"></i>Modifier Profil</a></li>
                <li><a href="addOffre"><i class="fa fa-book-reader"></i>Ajouter Offre</a></li>
                <li><a href="loffre"><i class="fa fa-suitcase"></i>Liste des Offres</a></li>
                <li><a href="post"><i class="fa fa-list-alt"></i>Liste des Postulation</a></li>
            </ul>
        </div>
        
    </div>


