<!DOCTYPE html>
<html lang="en">




<body>


  
	<div class="page-wraper">
     
        <app-header></app-header>

      
        <!-- CONTENT START -->
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(assets/images/banner/1.jpg);">
                <div class="overlay-main site-bg-white opacity-01"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="wt-title"></h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="index.html">Acceuil</a></li>
                                    <li>Profil</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->


            <!-- OUR BLOG START -->
            <div class="section-full p-t120  p-b90 site-bg-white">
                

                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-12 rightSidebar m-b30">
                            <app-menu-candidat></app-menu-candidat>
                        </div>

                        <div class="col-xl-9 col-lg-8 col-md-12 m-b30">
                            <!--Filter Short By-->
                            <div class="twm-right-section-panel site-bg-gray">
                                <div class="twm-home4-banner-section site-bg-light-purple" >
                                    <div class="row">
                                        <!--Left Section-->
                                        <div class="col-xl-6 col-lg-12 col-md-12">
                                            <div class="twm-bnr-left-section">
                                                <div class="twm-bnr-title-large"><h3>Attirez  <span class="site-text-primary">   les meilleurs offre </span>pour votre carrière!</h3></div> 
                                            </div>
                                        </div>
                    
                                        <!--right Section-->
                                        <div class="col-xl-6 col-lg-12 col-md-12">
                                            <div class="twm-bnr-right-section anm" data-wow-delay="1000ms" data-speed-x="2" data-speed-y="2">
                    
                                                <div class="twm-graphics-h3 twm-bg-line">
                                                    <img src="assest/images/home-4/banner/bg-line.png" alt="">
                                                </div>
                    
                                                <div class="twm-graphics-user twm-user">
                                                    <img src="assets/images/home-4/banner/user.png" alt="">
                                                </div>
                    
                                                <div class="twm-graphics-h3 twm-bg-plate">
                                                    <img src="assets/images/home-4/banner/bg-plate.png" alt="">
                                                </div>
                    
                                                <div class="twm-graphics-h3 twm-checked-plate">
                                                    <img src="assets/images/home-4/banner/checked-plate.png" alt="">
                                                </div>
                    
                                                <div class="twm-graphics-h3 twm-blue-block">
                                                    <img src="assets/images/home-4/banner/blue-block.png" alt="">
                                                </div>
                    
                                                <div class="twm-graphics-h3 twm-color-dotts">
                                                    <img src="assets/images/home-4/banner/color-dotts.png" alt="">
                                                </div>
                    
                                                <div class="twm-graphics-h3 twm-card-large anm" data-speed-y="-2" data-speed-scale="-15" data-speed-opacity="50">
                                                    <img src="assets/images/home-4/banner/card.png" alt="">
                                                </div>
                    
                                                <div class="twm-graphics-h3 twm-card-s1 anm" data-speed-y="2" data-speed-scale="15" data-speed-opacity="50">
                                                    <img src="assets/images/home-4/banner/card-s1.png" alt="">
                                                </div>
                    
                                                <div class="twm-graphics-h3 twm-card-s2 anm" data-speed-x="-4" data-speed-scale="-25" data-speed-opacity="50">
                                                    <img src="assets/images/home-4/banner/card-s2.png" alt="">
                                                </div>
                    
                                                <div class="twm-graphics-h3 twm-white-dotts">
                                                    <img src="assets/images/home-4/banner/white-dotts.png" alt="">
                                                </div>
                    
                                                <div class="twm-graphics-h3 twm-top-shadow anm" data-speed-x="-16" data-speed-y="2" data-speed-scale="50" data-speed-rotate="25">
                                                    <img src="assets/images/home-4/banner/top-shadow.png" alt="">
                                                </div>
                    
                                                <div class="twm-graphics-h3 twm-bottom-shadow anm" data-speed-x="16" data-speed-y="2" data-speed-scale="20" data-speed-rotate="25">
                                                    <img src="assets/images/home-4/banner/bottom-shadow.png" alt="">
                                                </div>
                                                
                    
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>   
            <!-- OUR BLOG END -->
          
            
     
        </div>
        <!-- CONTENT END -->

        <!-- FOOTER START -->
        <app-footer></app-footer>
        <!-- FOOTER END -->

        <!-- BUTTON TOP START -->
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>



 	</div>




</body>
</html>

