
<div class="modal fade twm-sign-up show" id="sign_up_popup2"  aria-labelledby="sign_up_popupLabel2" tabindex="-1" style="display: block; padding-left: 0px;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
            <form  >
                <div class="modal-header">
                    <h2 class="modal-title" id="sign_up_popupLabel2">Se Connecter</h2>
                    <p>Si vous n'avez pas de compte, vous pouvez vous <a class="twm-backto-login" href="signup">inscrire ici !</a></p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="twm-tabs-style-2">
                        <ul class="nav nav-tabs" id="myTab2" role="tablist">

                            <!--Login Candidate-->  
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#login-candidate" type="button"><i  class="fas fa-building"></i>Entreprise</button>
                            </li>
                            <!--Login Employer-->
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#login-Employer" type="button"><i class="fas fa-user-tie"></i>Candidat</button>
                            </li>
                        
                        </ul>
                        
                        <div class="tab-content" id="myTab2Content">
                        
                            <!--Login Candidate Content-->  
                    
                            <div class="tab-pane fade show active" id="login-candidate"   >
                                <div class="row" >
                                    <form [formGroup]="loginForm" (ngSubmit)="login()">

                                    <div class="col-lg-12">
                                        <div class="form-group mb-3">
                                            <input type="text" required="" class="form-control" placeholder="Nom*" formControlName="email">
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-12">
                                        <div class="form-group mb-3">
                                            <input  type="password" class="form-control" required="" placeholder="Mot de Passe*" formControlName="mp">
                                        </div>
                                    </div>
                               
                                    
                                    
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button type="submit" class="site-button">Se Connecter</button>
                                        </div>
                                    </div>
                                </form>

                                    
                                    
                                   
                                    
             
                                </div>
                            </div>
                    
                            <!--Login Employer Content-->
                    
                            <div class="tab-pane fade" id="login-Employer" >
                                <div class="row">
                                    <form [formGroup]="loginForm" (ngSubmit)="loginEmploye()">
                                        <div class="col-lg-12">
                                            <div class="form-group mb-3">
                                                <input name="username" type="text" required="" class="form-control" placeholder="Nom*" formControlName="email">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group mb-3">
                                                <input name="email" type="password" class="form-control" required="" placeholder="Mot de Passe*" formControlName="mp">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group mb-3">
                                                <div class=" form-check">
                                                    <input type="checkbox" class="form-check-input" id="Password4">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">

                                            <button type="submit" class="site-button">Se connecter</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                    
                        
                        </div>
                    </div> 
                </div>
            </form>
        </div>
    </div>
</div>
<!--Model Popup Section End-->

