<!DOCTYPE html>
<html lang="en">
<body>


     

	<div class="page-wraper">
     
        <!-- HEADER START -->
       <app-header></app-header>
        <!-- HEADER END -->

      
        <!-- CONTENT START -->
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url(assets/images/banner/1.jpg);">
                <div class="overlay-main site-bg-white opacity-01"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <div class="banner-title-outer">
                            <div class="banner-title-name">
                                <h2 class="wt-title">Liste Postulation</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->                            
                        
                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="index.html">Acceuil</a></li>
                                    <li>Liste Postulation</li>
                                </ul>
                            </div>
                        
                        <!-- BREADCRUMB ROW END -->                        
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->


            <!-- OUR BLOG START -->
            <div class="section-full p-t120  p-b90 site-bg-white">
                

                <div class="container" style="margin-left: 200px;">
                    <div class="row" style="transform:none; width: 1472px;">
                        
                        <div class="col-xl-3 col-lg-4 col-md-12 rightSidebar m-b30">
                                <app-menu-candidat></app-menu-candidat>
                        </div>

                        <div class="col-xl-9 col-lg-8 col-md-12 m-b30">
                            <!--Filter Short By-->
                            <div class="twm-right-section-panel site-bg-gray">
                                <form>
                                    <!--Basic Information-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading wt-panel-heading p-a20">
                                            <h4 class="panel-tittle m-a0"><i class="fa fa-suitcase"></i></h4>
                                        </div>
                                        <div class="panel-body wt-panel-body m-b30 ">
                                            <div class="twm-D_table p-a20 table-responsive">
                                                <table class="table table-bordered twm-bookmark-list-wrap">
                                                    <thead>
                                                        <tr>
                                                            <th>Nom Candidat</th>
                                                            <th>Titre de l'offre</th>
                                                            <th>CV</th>
                                                            <th>Etat Cadidature</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!--1-->
                                                        <tr  *ngFor="let offre of listOffre">
                                                            
                                                            <td>{{offre.candidat.nom}}</td>
                                                            <td>{{offre.offre.titre.titreE}}</td>
                                                            <td><img src="assets/images/pdf.png" style="height: 50px;cursor: pointer;" (click)="downloadPdf(offre?.cv)" /></td>
                                                            <td>
                                                            <div *ngIf="offre.etatCandidature" class="btn btn-sm btn-success"  style="margin-right: 10px;"  ><i class="fas fa-user-lock"></i></div>
                                                            <div *ngIf="!offre.etatCandidature" class="btn btn-sm btn-dark"   style="margin-right: 10px;"><i class="fas fa-user-check"></i></div>
                                                            <div *ngIf="offre.etatDownload && !offre.etatCandidature" class="btn btn-primary" style="margin-right: 10px;">En cours</div>
                                                        </td>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Nom Candidat</th>
                                                            <th>Titre de l'offre</th>
                                                            <th>CV</th>
                                                            <th>Etat Cadidature</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>             
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>   
            <!-- OUR BLOG END -->
          
            
     
        </div>
        <!-- CONTENT END -->

        <!-- FOOTER START -->
       <app-footer></app-footer>
        <!-- FOOTER END -->

        <!-- BUTTON TOP START -->
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>

 	</div>


</body>


</html>


