<!DOCTYPE html>
<html lang="en">



<body>

 

	<div class="page-wraper">

        <!-- HEADER START -->
        <app-header></app-header>
        <!-- HEADER END -->

        <!-- CONTENT START -->
        <div class="page-content">

            <!--Banner Start-->
            <div class="twm-home8-banner-section site-bg-white bg-cover" style="background-image:url(assets/images/home-8/h8-banner.jpg)">
                <div class="container">
                    <div class="twm-home8-inner-section">
                        <div class="row">
                            <div class="col-lg-7 col-md-12">
                                <div class="twm-bnr-left-section">
                                    <div class="twm-bnr-title-large">Votre carrière </div>
                                    <div class="twm-bnr-title-large">commence ici!</div>
                                    <div class="twm-bnr-discription">plus que <span class="text-clr-pink">1800+ </span> Offre à découvrir.</div>
                                    <div class="twm-bnr-search-bar">
                                        <form>
                                            <div class="row">
                                                <!--Title-->
                                                <div class="form-group col-xl-3 col-lg-6 col-md-6">
                                                    <label>Titre</label>
                                                    <select class="wt-search-bar-select selectpicker"  data-live-search="true" title="" id="j-Job_Title" data-bv-field="size">
                                                        <option disabled selected value="">Select Category</option>
                                                        <option selected>Titre</option>
                                                        <option>Web Designer</option>
                                                        <option>Developer</option>
                                                        <option>Acountant</option>
                                                    </select>
                                                </div>

                                                <!--All Category-->
                                                <div class="form-group col-xl-3 col-lg-6 col-md-6">
                                                    <label>Type</label>
                                                    <select class="wt-search-bar-select selectpicker"  data-live-search="true" title="" id="j-All_Category" data-bv-field="size">
                                                        <option disabled selected value="">Type</option>
                                                        <option selected>All Category</option>
                                                        <option>Web Designer</option>
                                                        <option>Developer</option>
                                                        <option>Acountant</option>
                                                    </select>
                                                </div>

                                                <!--Location-->
                                                <div class="form-group col-xl-3 col-lg-6 col-md-6">
                                                    <label>Où </label>
                                                    <div class="twm-inputicon-box">
                                                        <input name="username" type="text" required class="form-control" placeholder="Localisation">
                                                        <i class="twm-input-icon fas fa-map-marker-alt"></i>
                                                    </div>
                                                </div>

                                                <!--Find job btn-->
                                                <div class="form-group col-xl-3 col-lg-6 col-md-6">
                                                    <button type="button" class="site-button">Trouver</button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <div class="bnr-media bounce2">
                                    <img src="assets/images/home-8/bnr-right-pic.png" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="twm-bnr-bottom-section">
                        <div class="twm-browse-jobs">Jobs</div>
                    </div>
                </div>
               
            </div>
            <!--Banner End-->


        </div>
        <!-- CONTENT END -->

        <!-- FOOTER START -->
        <app-footer></app-footer>
        <!-- FOOTER END -->

        <!-- BUTTON TOP START -->
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>

     


 	</div>


</body>


</html>
