

<div class="side-bar-st-1">
        
    

    <div class="twm-mid-content text-center">
        <a href="candidate-detail.html" class="twm-job-title">
            <h4>{{CandidatId.nom}}</h4>
        </a>
        <p>{{CandidatId.telephone}}</p>
    </div>
   
    <div class="twm-nav-list-1">
        <ul>
            
            <li><a href="modifiercan/{{CandidatId.id}}" type="submit"><i class="fa fa-user-cog"></i>Modifier Profil</a></li>
            <li><a href="postcan"><i class="fa fa-list-alt"></i>Liste des Postulation</a></li>
        </ul>
    </div>
    
</div>



